.idea
node_modules
.env
.vscode
dist
.DS_Store
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
test-results.xml
*.tgz
*.tsbuildinfo
.cache
generated


/generated/prisma
